.header__saved {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(250, 250, 250, 1);
}

.header__saved-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 40px, 104px, 80px;
  background-color: rgba(250, 250, 250, 1);
}

.header__saved-title {
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(26, 27, 34, 1);
  margin: 0;
  max-width: 712px;
}

.header__saved-caption {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  color: rgba(26, 27, 34, 1);
  margin: 28px 0 30px;
  max-width: 530px;
}

.header__saved-keywords {
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0;
  max-width: 712px;
}

.header__saved-span-keywords {
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .header__saved {
    background-color: rgba(250, 250, 250, 1);
    max-width: 596px;
    padding: 24px 40px 32px;
    background-color: rgba(250, 250, 250, 1);
  }

  .header__saved-title {
    font-size: 12px;
    line-height: 24px;
  }

  .header__saved-caption {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 325px) {
  .header__saved {
    padding: 8px 16px 32px;
  }

  .header__saved-title {
    font-size: 12px;
    line-height: 24px;
  }

  .header__saved-caption {
    font-size: 30px;
    line-height: 34px;
  }
}
