.about {
  display: flex;
  padding: 100px 80px 173px;
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  z-index: 1;
}

.about__title {
  margin: 0;
  max-width: 251px;
  color: #1A1B22;
  font-family: "Roboto-Slab", 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.about__content {
  margin-top: 19px;
  max-width: 660px;
  color: #fff;
  font-family: "Roboto-Slab", 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-of-type {
  margin: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #1878dc;
  display: inline-block;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: -1;
}