@import url(./vendor/normalize.css);

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../src/vendor/inter-400-regular.woff") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../src/vendor/inter-500.woff") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../src/vendor/roboto-500.woff") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../src/vendor/roboto-400-regular.woff") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../src/vendor/roboto-700.woff") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../src/vendor/roboto-900.woff") format("truetype");
}
@font-face {
  font-family: "Roboto-Slab";
  font-weight: 400;
  src: url("../src/vendor/roboto-slab-400-regular.woff") format("truetype");
}
@font-face {
  font-family: "Roboto-Slab";
  font-weight: 700;
  src: url("../src/vendor/roboto-slab-700-regular.woff") format("truetype");
}
